body {
    margin: 0;
    padding: 0;
    color: #722c3d;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
nav h1{
    text-align: center;
}
nav button {
    display: inline-block;
    align-items: center;
    font-weight: bold;
    
}
button {
    background-color: #722c3d;
    color: #fff;
}
main {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 200px;
}
nav button, footer button {
    margin-right: 10px;
}
.spanDone {
    color: rgb(12, 92, 12);
}
.spanNotDone{
    color: rgb(177, 19, 19);
}
.listyle {
    border: 1px solid #000;
    margin: 0 30% 10px 30%;
    list-style-type: none;
    box-sizing: border-box;
}
.lidonestyle {
    margin: 0 30% 10px 30%;
    list-style-type: none;
}
.check {
    color: rgb(12, 92, 12);
}