body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid;
}
nav h1{
    text-align: center;
}
nav button {
    display: inline-block;
    align-items: center;
    
}
button {
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
button:hover {
    cursor: pointer;
}
main button {
    background-color: #daa516;
}
header button {
    background-color: #fff;
}
 header button:hover {
    background-color: #daa516;
}
main {
    text-align: center;
}
main input, main select {
    margin-right: 5px;
}
nav button, footer button {
    margin-right: 10px;
}
.spanDone {
    color: rgb(12, 92, 12);
}
.spanNotDone{
    color: rgb(177, 19, 19);
}
.listyle {
    border: 1px solid #000;
    margin: 0 30% 10px 30%;
    list-style-type: none;
    box-sizing: border-box;
}
.lidonestyle {
    margin: 0 30% 10px 30%;
    list-style-type: none;
}
.check {
    color: rgb(12, 92, 12);
}
#image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: 100%;
}